// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sidebar{
  float: right;
  background: #DDD;
  padding: 2px 5px 2px 5px;
  
  .key {
    font-weight: bold;
    margin-right: 1em;
  }
}

.field, .actions {
  margin-bottom: 10px;
}
